{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow-lg p-4">

        <h3 class="mb-4 text-center">Panel Docente</h3>

        <div class="alert alert-info text-center">
            Aquí se realizará la validación biométrica.
        </div>

        <!-- Aquí luego pondremos la cámara para reconocimiento -->
        <div class="text-center mt-4">
            <video id="video" width="320" height="240"
                   autoplay class="border rounded shadow"></video>
        </div>

    </div>

</div>

<script>
const video = document.getElementById("video");

async function iniciarCamara() {
    try {
        const stream = await navigator.mediaDevices.getUserMedia({ video: true });
        video.srcObject = stream;
    } catch (error) {
        alert("No se pudo acceder a la cámara");
    }
}

window.addEventListener("load", iniciarCamara);
</script>

{% endblock %}